@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

/* 기본 설정 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
br   {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
}
img {
    vertical-align: top;
}
html {
    font-size: 12px;
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
    color: #111;
}
.gnb,
.main-slide-container,
.circle-banner-container,
.season-item-container,
.sub-slide-container,
.main-item-container,
.md-pick-container,
.footer {
    max-width: 1920px;
    min-width: 1140px;
}

/* top-banner */
.top-banner {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #000;
}
.top-banner a {
    color: #fff;
}

/* header */
#header {
    width: 100%;
    height: 90px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #eee;
    z-index: 99;
}
.gnb {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

/* hamburger menu button */
.hamburger {
    position: relative;
    margin-right: 2%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.petty {
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;
}
.petty::before {
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    content: "";
    top: -8px;
    transition: all 0.3s ease-in-out;
}
.petty::after {
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    content: "";
    bottom: -8px;
    transition: all 0.5s ease-in-out;
}

/* top-logo */
.top-logo a {
    display: block;
}
/* gnb-category */
.gnb-category {
    display: flex;
    margin: 0 auto;
}
.gnb-category li {
    padding: 0 20px;
    white-space: nowrap;
}
.gnb-category a {
    font-size: 15px;
    font-weight: 400;
    color: #111;
}
/* right-btn-wrap */
.right-btn-wrap {
    display: flex;
}
.right-btn-wrap li {
    padding-left: 35px;
}
.right-btn-wrap li:first-child {
    padding-left: 0;
}

/* quick-menu */
.quick-menu {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 55px;
    background-color: #000;
    z-index: 99;
}
.plus-btn {
    padding: 10px 10px 0;
}
.up-btn {
    padding: 5px 10px;
}   
.down-btn {
    padding: 0 10px 10px;
}

/* main-slide-container */
.main-slide-container {
    /* width: 100%; */
    position: relative;
    margin:0 auto 75px;
    overflow: hidden;
}
.main-slide-box {
    display: flex;
    height: 100%;
    justify-content: center;
}
.main-slide-item {
    position: relative;
    width: 40%;
    height: 100%;
    max-width: 744px;
    min-width: 600px;
}
.main-slide-item a {
    width: 100%;
    height: 100%;
}
.main-slide-item img {
    width: 100%;
    object-fit: contain;
    /* object-fit: contain 으로 img 크기 기준으로 부모요소 크기 결정 */
}
.main-slide-item-img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .25;
}

/* item-txt-box */
.main-slide-item-txt-box {
    position: absolute;
    top: 42%;
    width: 100%;
    color: #fff;
    text-align: center;
    opacity: 1;
}
.main-slide-category {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}
.main-slide-title p{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.main-slide-desc{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main-slide-btn-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.main-slide-btn-next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.main-slide-pagination {
    position: absolute;
    bottom: 60px;
    right: 100px;
    color: #fff;
    font-weight: 500;
}

/* .main-slide-pagination-focus  */

/* .main-slide-pagination-total */

.main-slide-btn-pause {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    background: url('../images/mainBtn_stop.png') no-repeat center/cover;
}

.circle-banner-container {
    display: flex;
    justify-content: center;
    margin:0 auto 75px;
}