@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

/* 기본 설정 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
br {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #111;
}
img {
    vertical-align: top;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
html {
    font-size: 12px;
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
    color: #111;
}
body {
    position: relative;
}

/* body::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

body::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

body::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

body::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
} */

.circle-banner-container,
.season-slide-container,
.sub-slide-container,
.main-item-container,
.md-pick-container,
.footer {
    width: 100%;
    max-width: 1920px;
    min-width: 1440px;
    margin: 0 auto 75px;
    padding: 0 6%;
    box-sizing: border-box;
}
.main-slide-container,
.gnb {
    max-width: 1920px;
    min-width: 1440px;
}
/************************ header ************************/
#header {
    position: relative;
}
.top-banner {
    position: absolute;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #000;
    transition: all 500ms ease;
}
.top-banner a {
    color: #fff;
}
.gnb-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 5px #33333369;
    transition: all 500ms ease;
    transform: translateY(35px);
    z-index: 99;
}
.gnb-wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0);
}
.gnb {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 3%;
    box-sizing: border-box;
}

/* hamburger menu button */
.hamburger {
    position: relative;
    margin-right: 2%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.petty {
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;
}
.petty::before {
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    content: "";
    top: -8px;
    transition: all 0.3s ease-in-out;
}
.petty::after {
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    content: "";
    bottom: -8px;
    transition: all 0.5s ease-in-out;
}

/* top-logo */
.top-logo a {
    display: block;
}
/* gnb-category */
.gnb-category {
    display: flex;
    margin: 0 auto;
}
.gnb-category li {
    padding: 0 30px;
    white-space: nowrap;
}
.gnb-category a {
    font-size: 15px;
    font-weight: 400;
    color: #111;
}
/* right-btn-wrap */
.right-btn-wrap {
    display: flex;
}
.right-btn-wrap li {
    padding-left: 35px;
}
.right-btn-wrap li:first-child {
    padding-left: 0;
}

/************************ quick-menu ************************/
.quick-menu {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 55px;
    background-color: #000;
    z-index: 99;
}
.plus-btn {
    padding: 10px 10px 0;
}
.up-btn {
    padding: 5px 10px;
}
.down-btn {
    padding: 0 10px 10px;
}
/*************************** main ***************************/
#main {
    padding-top: 125px;
    transition: padding-top 500ms ease;
}
#main.active {
    padding-top: 90px;
}
/******************* main-slide-container *******************/
.main-slide-container {
    position: relative;
    margin: 0 auto 75px;
    overflow: hidden;
}
.main-slide-box {
    display: flex;
}
.main-slide-item {
    position: relative;
    width: 100%;
    /* height: 100%; */
    max-width: 744px;
    min-width: 650px;
    flex-shrink: 0;
}
.main-slide-item a {
    width: 100%;
    height: 100%;
}
.main-slide-item-img-box {
    width: 100%;
}
/* 이미지 마스크 */
.main-slide-item-img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.25;
}
.main-slide-item img {
    width: 100%;
    object-fit: contain;
    /* object-fit: contain 으로 img 크기 기준으로 부모요소 크기 결정 */
}

/* item-txt-box */
.main-slide-item-txt-box {
    position: absolute;
    top: 42%;
    width: 100%;
    color: #fff;
    text-align: center;
    opacity: 1;
}
.main-slide-item-category {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}
.main-slide-item-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.main-slide-item-desc {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main-slide-btn-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.main-slide-btn-next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.main-slide-pagination {
    position: absolute;
    bottom: 60px;
    right: 100px;
    color: #fff;
    font-weight: 500;
}

/* .main-slide-pagination-focus  */

/* .main-slide-pagination-total */

.main-slide-btn-pause {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    background: url("../images/mainBtn_stop.png") no-repeat center/cover;
}
/******************** circle-banner ********************/
.circle-banner-container {
    display: flex;
    justify-content: center;
}
.circle-item {
    position: relative;   
}
.circle-item:hover .circle-item-txt {
    opacity: 0.85;
}
.circle-item-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    background-color: #fff;
    color: #000;
    font-weight: 900;

    opacity: 0;
}
.circle-item img {

}

/**************** season-slide-container ****************/
.season-slide-title {
    font-size: 24px;
    padding-left: 10px;
    margin-bottom: 30px;
}
.season-slide-box {
    display: flex;
}
.season-slide-box-wrap {
    overflow: hidden;
}
.item-box {
    width: 323px;
    margin-right: 15px;
    flex-shrink: 0;
}
.item-img-box img {
    width: 100%;
}
.item-txt-box {
    word-break: keep-all;
}
.item-name-box {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}
.item-price-box {
    margin-top: 7px;
    font-size: 15px;
    font-weight: 500;
}
.item-price-box strike {
    margin-left: 5px;
    font-size: 12px;
    color: #979797;
}
.item-icon-box {
    margin-top: 7px;
    height: 18px;
}
.item-icon {
    padding: 1px 5px;
    margin-right: 5px;
    border-radius: 3px;
    font-weight: 600;
    background-color: #efefef;
}
.item-desc-box {
    margin-top: 15px;
    padding-top: 7px;
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
}
.mb-5 {
    margin-bottom: 5px;
}

.season-slide-scrollbar {
    margin-top: 60px;
    width: 100%;
    height: 2px;
    background: #ccc;
}

/**************** sub-slide-container ****************/
.sub-slide-box-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.sub-slide-box {
    display: flex;
}
.sub-slide-item {
    position: relative;
    width: 50%;
    flex-shrink: 0;
}
.sub-slide-item img {
    width: 100%;
}
/**************** main-item-container ****************/
.main-item-container {
    
}

/********************** footer **********************/
#footer {
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid #999;
}
.footer {
    color: #999;
}
.footer-inbox {
    position: relative;
    display: flex;
}
.footer a {
    color: #999;
}
.footer-left {
    padding: 80px 10% 0 0;
    
}
.footer-right {
    padding-top: 80px;
}
.footer-left {
    width: 650px;
}
.footer-left-top span {
    padding-left: 10px;
    font-size: 14px;
}
.footer-left-menu {
    display: flex;
    margin-top: 20px;
}
.footer-left-info {
    margin-top: 20px;
    font-style: normal;
}
.info-box {
    display: inline-block;
    margin-bottom: 10px;
    white-space: nowrap;
}
.info-box div {
    display: inline-block;
}
.address-key-box {
    padding-right: 3px;
}
.divide-bar {
    width: 1px;
    height: 9px;
    margin: 6px 7px 0;
    background: #a5a5a5;
}
.cr {
    margin-top: 30px;
}
.footer-right {
    display: flex;
}
.footer-right span{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #111;
    margin-bottom: 10px;
}
.bank-info-box, .sns-box, .shop-menu-box {
    padding-left: 15%;
    white-space: nowrap;
}

.bank-info-box div {
    margin-bottom: 5px;
}
.sns-icon {
    display: flex;
}
.sns-icon div:nth-child(2) {
    padding-left: 10px;
}
.sns-icon div:last-child {
    padding-left: 14px;
}
.shop-menu-box div {
    margin-bottom: 10px;
}
