@charset "utf-8";
@media screen and (max-width: 1280px) {
    html {
        font-size: 9px;
    }
}
@media screen and (max-width: 1179px) {
    html {
        font-size: 8.5px;
    }
}
@media screen and (max-width: 1079px) {
    html {
        font-size: 8px;
    }
}
@media screen and (max-width: 979px) {
    html {
        font-size: 7.5px;
    }
}
/* 900px 부터 사이드바 상단으로 이동 */
@media screen and (max-width: 900px) {
    html {
        font-size: 7px;
    }
    :root {
        --header-w: 0;
        --header-p: 1.5rem;
        --main-logo-w-h: 10rem;
    }
    /* 1. header section */
    .header {
        width: 100vw;
        height: auto;
    }
    /* 1-1. main logo */
    .logo-box {
        left: 7rem;
        margin-bottom: 0;
    }
    /* 1-2. navigation slider */
    .nav-slider-wrap {
        position: fixed;
    }
    .nav-slider-wrap {
        background: #000000a4;
        transform: translateX(-100%);
    }
    .on.nav-slider-wrap{
        transform: translateX(0);
    }
    .nav-slider {
        left: 50%;
        transform: translateX(-50%);
        font-size: 5rem;
    }
    .nav-slider li {
        height: 10rem;
    }
    .nav-slider span:last-child {
        font-size: 3rem;
        transform: translateY(-2rem);
    }

    /* 1-3. hamburger menu button */
    .hamburger {
        left: auto;
        right: 7%;
        bottom: 50%;
        transform: translateY(50%);
    }

    /* 3. component section */

    /* 3-1. category */
    .category {
        left: 7rem;
    }
    /* 3-3. component line */
    .header-line {
        width: 100vw;
        height: var(--component-bd);
        left: 0;
        top: calc(var(--main-logo-w-h) + var(--header-p) * 2);
    }

    /* section-line 숨김 */
    .section-line {
        height: 0;
    }
}
