@charset "utf-8";
@media screen and (max-width: 1280px) {
    html {
        font-size: 9px;
    }
}
@media screen and (max-width: 1179px) {
    html {
        font-size: 8.5px;
    }
}
@media screen and (max-width: 1079px) {
    html {
        font-size: 8px;
    }
}
@media screen and (max-width: 969px) {
    html {
        font-size: 7.5px;
    }
}
/* 900px 부터 사이드바 상단으로 이동 */