@charset "utf-8";
/*
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'chaneyultra_extended';
*/
@font-face {
    font-family: "chaneyultra_extended";
    src: url(./CHANEY-ULTRA-EXTENDED/Webfont/CHANEY-UltraExtended-webfont/chaney-ultraextended-webfont.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    width: 100vw;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    font-family: "chaneyultra_extended";
    overflow: hidden;
}
/* aside section */
.aside {
    box-sizing: border-box;
    width: 240px;
    height: 100vh;
    padding: 70px;
}
.logo_bx {
    width: 100px;
    height: 100px;
    background-color: transparent;
}
.logo_bx img {
    width: 100%;
    height: 100%;
}
/* main section */
.main{
    width: 100vw;
    height: 400vh;
}

/* component section */
.component {

}
.category {

}
.category__label {

}

.aside_line {
    width: 2px;
    height: 100%;
    background-color: rgba(255,255,255,0.15);
    position: fixed;
    top: 0;
    left: 240px;
}
.section_line {
    width: calc(100% - 242px);
    height: 2px;
    background-color: rgba(255,255,255,0.15);
    position: fixed;
    right: 0;
    bottom: 250px;
}

