@charset "utf-8";
/*
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'chaneyultra-extended';
*/
@font-face {
    font-family: "chaneyultra-extended";
    src: url(./CHANEY-ULTRA-EXTENDED/Webfont/CHANEY-UltraExtended-webfont/chaney-ultraextended-webfont.ttf);
}
/* 
    [ 메인 페이지 CSS 구성 ]

    0. 기본 초기화, font설정 / html, body설정

    1. aside section

        1-1. main logo
        1-2. navigation slider
        1-3. hamburger menu button

    2. main section

        2-1. pages
        2-2. headline

    3. component section

        3-1. category
        3-2. page number
        3-3. component line
        3-4. breadcrumbs
*/

/* 
    [ z-index ]

    [ 999 ] .aside

    [ 001 ] .component
            .logo-bx
            .hamburger

*/

/* 0. 기본 초기화, font설정 / html, body설정 / root */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 10px;
}
html,
body {
    height: 100%;
    transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "chaneyultra-extended", "Poppins", "Noto Sans KR", sans-serif;
    display: flex;
    overflow: hidden;
}
:root {
    --aside-w: 28rem;
    --aside-p: 4rem;
    --main-logo-w-h: 14rem;
    --component-bd: 0.2rem;
    --component-b-p: 25rem;
}
/* 1. aside section */
.aside {
    box-sizing: border-box;
    width: var(--aside-w);
    height: 100vh;
    padding: var(--aside-p);
    position: fixed;
    z-index: 999;
}

/* 1-1. main logo */
.logo-bx {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: var(--main-logo-w-h);
    height: var(--main-logo-w-h);
    margin-bottom: 1.5rem;
    z-index: 1;
}
.logo-bx a,
.logo-bx img {
    display: block;
    width: 100%;
    height: 100%;
}

/* 1-2. navigation slider */
.nav-slider-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-slider-wrap__fake {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    background: linear-gradient(to right, rgba(20, 20, 20, 1) 33%, rgba(20, 20, 20, 0.5) 80%, rgba(20, 20, 20, 0) 100%);
}
.nav-slider {
    position: absolute;
    top: calc(var(--aside-p) + var(--main-logo-w-h) + 1vh);
    left: var(--aside-p);
    font-size: 2.5rem;
}
.nav-slider li {
    height: 5.4rem;
    list-style: none;
    transform: translateY(-4rem) rotateX(90deg);
    transition: all 0.7s;
}
.on > .nav-slider-wrap__fake {
    opacity: 1;
}
.on > .nav-slider-wrap__fake .nav-slider li {
    transform: rotateX(0deg);
}
.nav-slider a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.nav-slider span {
    width: fit-content;
    color: transparent;
    background-image: linear-gradient(45deg, #fff 0%, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.5s ease-out;
}

.nav-slider a:hover > span {
    color: #fff;
    text-shadow: 0 0 .5rem #fff;
}
.nav-slider span:last-child {
    font-family: "Poppins", "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    transform: translateY(-1rem);
}

/* 1-3. hamburger menu button */
.hamburger {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 7rem;
    bottom: 7rem;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1;
}
.petty {
    width: 3rem;
    height: 0.3rem;
    background-color: #fff;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    transition: all 0.3s ease-in-out;
}
.petty::before {
    width: 3rem;
    height: 0.3rem;
    background-color: #fff;
    position: absolute;
    content: "";
    top: -1rem;
    transition: all 0.3s ease-in-out;
}
.petty::after {
    width: 2rem;
    height: 0.3rem;
    background-color: #fff;
    position: absolute;
    content: "";
    bottom: -1rem;
    transition: all 0.5s ease-in-out;
}
.on > .petty {
    background-color: transparent;
}
.on > .petty::before {
    content: "";
    top: 50%;
    transform: translate(0, -50%) rotate(135deg);
}
.on > .petty::after {
    content: "";
    width: 3rem;
    top: 50%;
    transform: translate(0, -50%) rotate(225deg);
}

/* 2. main section */
.main {
}

/* 2-1. pages */
.page {
    width: 100vw;
    height: 100vh;
}
/* 2-1-1. page01 */

/* 2-1-2. page02 */
#page-02 {
    position: relative;
}
.page-02__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-02__container .imgs {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s ease-in;
}

/* 2-1-3. page03 */
#page-03 {
    background-color: #2a2929;
}

.team-slider {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: calc(100% - var(--aside-w) - var(--component-bd));
    height: 100%;
}
.team-slider__items {
    position: relative;
    overflow: hidden;
    border-right: 2px solid #9e9e9e80;
    transition: flex 1s cubic-bezier(0.25, 1, 0.5, 1);
    flex: 1;
    box-sizing: border-box;
}

/* flex-grow로 컨텐츠 선택시 크기조절 */
.team-slider__items.on {
    flex: 15;
}

/* .team-slider .team-slider__items:nth-child(1) {
    background-color: #2e2e2e;
}
.team-slider .team-slider__items:nth-child(2) {
    background-color: #1003a3;
}
.team-slider .team-slider__items:nth-child(3) {
    background-color: #65646d;
}
.team-slider .team-slider__items:nth-child(4) {
    background-color: #0267a1;
}
.team-slider .team-slider__items:nth-child(5) {
    background-color: #035686;
}
.team-slider .team-slider__items:nth-child(6) {
    background-color: #244253;
}
.team-slider .team-slider__items:nth-child(7) {
    background-color: #01446b;
}
.team-slider .team-slider__items:nth-child(8) {
    background-color: #2fa9f0;
}
.team-slider .team-slider__items:nth-child(9) {
    background-color: #2682b8;
}
.team-slider .team-slider__items:nth-child(10) {
    background-color: #1a4b68;
} */
.team-logo-bx {
    display: inline-block;
    margin: 0.5rem;
    width: 20rem;
    height: 20rem;
}
.team-logo-bx img {
    width: 100%;
    height: 100%;
}
.team-logo-bx-small {
    display: inline-block;
    position: absolute;
    bottom: 21.5rem;
    left: 0;
    margin: 0.2rem;
    width: 3rem;
    height: 3rem;
}
.team-logo-bx-small img {
    width: 100%;
    height: 100%;
}
.team-slider .team-name-box {
    text-transform: uppercase;
    position: absolute;
    text-align: end;
    bottom: var(--component-b-p);
    left: -8.5rem;
    width: 10rem;
    height: 2rem;
    transform-origin: right;
    transform: rotate(90deg);
}
.team-player-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(100%, 850px);
    aspect-ratio: 1/0.9;
    /* height: calc(100% - var(--component-b-p) - var(--component-bd)); */
    box-sizing: border-box;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    transition: none;
    font-size: min(1.6rem, 1.2vw);
    opacity: 0;
}
.team-slider__items.on .team-player-box {
    opacity: 1;
    transition: opacity 0.5s 0.5s;
}
.player-box {
    position: relative;
    background-color: #423f3e7c;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 3px #888;
    opacity: 0;
    transition: none;
}
.on .player-box {
    opacity: 1;
}
.top-player-box {
    grid-row: 2/7;
    grid-column: 4/7;
}
.jg-player-box {
    grid-row: 2/7;
    grid-column: 8/11;
}
.mid-player-box {
    grid-row: 8/13;
    grid-column: 2/5;
}
.ad-player-box {
    grid-row: 8/13;
    grid-column: 6/9;
}
.sup-player-box {
    grid-row: 8/13;
    grid-column: 10/13;
}
.player-img {
    width: 100%;
    border-bottom: 2px solid #ffffff26;
    margin-top: 20%;
    margin-bottom: 15%;
}
.position-icon-box {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 20%;
}
.position-icon-box img {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ffffff26;
}
/* 팀아이콘 백그라운드*/
.qwer { 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: -1;
}
/* 2-1-4. page04 */

/* 2-2. headline */
.headline {
    position: absolute;
    left: calc(var(--aside-w) + var(--component-bd));
    padding: 6rem 8rem;
    min-width: 40rem;
    height: 20rem;
    font-size: 6rem;
    z-index: 1;
}
.headline.fake {   
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.headline div:nth-of-type(2) {
    text-align: end;
}
.headline-sub {
    margin-top: 2.5rem;
    font-size: 1.6rem;
}

/* 3. component section */
.component {
    z-index: 1;
}
/* 3-1. category */
.category {
    width: 12rem;
    height: 2.5rem;
    overflow: hidden;
    position: fixed;
    left: calc(var(--aside-w) + var(--component-bd) + 8rem);
    bottom: 7rem;
}
.category__label {
    line-height: 2.5rem;
    transition: all 0.5s ease-out;
}

/* 3-2. page number */
.page-number {
    display: flex;
    width: 10rem;
    height: 2.5rem;
    line-height: 2.5rem;
    position: fixed;
    overflow: hidden;
    right: 8rem;
    bottom: 7rem;
    gap: 1rem;
}
.page-number__now {
    transition: all 0.5s ease-out;
}
/* 3-3. component line */
.aside-line {
    width: var(--component-bd);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    position: fixed;
    top: 0;
    left: var(--aside-w);
}
.section-line {
    width: calc(100% - var(--aside-w) - var(--component-bd));
    height: var(--component-bd);
    background-color: rgba(255, 255, 255, 0.15);
    position: fixed;
    right: 0;
    bottom: var(--component-b-p);
}
/* 3-4. breadcrumbs */
.breadcrumbs {
    font-family: "Poppins";
    transform: rotate(90deg);
    position: fixed;
    top: 12rem;
    right: 5rem;
}
