@charset "utf-8";
/*
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'chaneyultra_extended';
*/
@font-face {
    font-family: "chaneyultra_extended";
    src: url(./CHANEY-ULTRA-EXTENDED/Webfont/CHANEY-UltraExtended-webfont/chaney-ultraextended-webfont.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    width: 100vw;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "chaneyultra_extended",'Poppins', 'Noto Sans KR';
    display: flex;
}
::-webkit-scrollbar {
    display: none;
}


/* aside section */
.aside {
    box-sizing: border-box;
    width: 280px;
    height: 100vh;
    padding: 70px;
    position: fixed;
}
.logo_bx {
    width: 140px;
    height: 140px;
    background-color: transparent;
}
.logo_bx img {
    width: 100%;
    height: 100%;
}
.hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 70px;
    bottom: 70px;
    vertical-align: middle;
    cursor: pointer;
}
.petty {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    transition: all .3s ease-in-out;
    /* opacity: 1; */
}
.petty::before {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    content: '';
    top: -10px;
    transition: all .3s ease-in-out;
}
.petty::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    width: 20px;
    content: '';
    bottom: -10px;
    transition: all .5s ease-in-out;
}
.active .petty {
    background-color: transparent;
    /* opacity: 0; */
}
.active .petty::before {
    content: '';
    top: 50%;
    transform: translate(0, -50%) rotate(135deg);
}
.active .petty::after {
    content: '';
    width: 30px;
    top: 50%;
    transform: translate(0, -50%) rotate(225deg);
}



/* main section */
.main{
    width: 100vw;
    height: 300vh;
}
.headline {
    position: absolute;
    left: 282px;
    padding: 60px 80px;
    width: 400px;
    height: 200px;
    font-size: 60px;
}
.headline div:nth-of-type(2) {
    text-align: end;
}
.headline_sub {
    margin-top: 25px;
    font-size: 16px;
}
.page {
    width: 100vw;
    height: 100vh;
}
#page1 {

}
#page2 {
    background-color: lightgray;
}



/* component section */
.category {
    width: 100px;
    height: 25px;
    overflow: hidden;
    position: fixed;
    left: calc(282px + 80px);
    bottom: 70px;
}
.category__label {
    line-height: 25px;
}
.page_number {
    display: flex;
    width: 90px;
    height: 25px;
    line-height: 25px;
    position: fixed;
    overflow: hidden;
    right: 80px;
    bottom: 70px;
    gap: 10px;
}
.page_number__now {

}
.aside_line {
    width: 2px;
    height: 100%;
    background-color: rgba(255,255,255,0.15);
    position: fixed;
    top: 0;
    left: 280px;
}
.section_line {
    width: calc(100% - 282px);
    height: 2px;
    background-color: rgba(255,255,255,0.15);
    position: fixed;
    right: 0;
    bottom: 250px;
}
.breadcrumbs {
    font-family: 'Poppins';
    transform: rotate(90deg);
    position: fixed;
    top: 120px;
    right: 50px;
}

