/* Man, Woman page CSS */

/* container layout */
.category-title,
.category-container {
  width: calc(100% - var(--page-padding) * 2);
  max-width: calc(var(--page-max-width) - var(--page-padding) * 2);
  min-width: calc(var(--page-min-width) - var(--page-padding) * 2);
  margin: 0 auto 25px;
  padding: 0 var(--page-padding);
}
.category-title {
  text-align: center;
  font-size: 24px;
}
.category-list {
  margin: 25px 0 50px;
  text-align: center;
}

.category-list a {
  display: inline;
  padding: 10px 15px;
  margin-right: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #777;
}

.category-container .item-box-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: calc(5% / 4);
  margin-bottom: 150px;
}
.category-container .item-box {
  flex-basis: calc(95% / 5);
}